*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Inter, Arial;
}

html, body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
/* Header elementos */

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #fbdbd3;
    padding: 20px 10px;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1000;
  }

  @media (max-width: 600px) {
    .header {
        height: auto; /* Permitir que a altura se ajuste automaticamente ao conteúdo */
    }
}
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

.header a:last-child {
    margin-right: 235px;
}
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header img.logo-rosa-amarela {
    width: 50px;
    height: 50px;
    margin-top: -10px;
    margin-left: 700%; /* Ajuste a porcentagem conforme necessário */
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:not(a.logo):hover {
    background-color: #f7c7bc;
    color: black;
    transition: 0.3s;
    border-radius: 15px;
  }
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

  @media screen and (max-width: 1400px) {
    .header img.logo-rosa-amarela {
        margin-left: 50%;
    }
  }

.espaco-elementos-header{
    padding-left: 50px;
    margin-bottom: 20px;
}

#img_icone{
    height: 45px; 
    width: 45px;
    margin-top: 20px;
    margin-left: 300px;
}

/* Carrosel bloco */

/* Definindo tamanho da div do carrossel */
.slider{
    margin: 0 auto;
    width: 100%;
    height: 500px;
    overflow: hidden;
    padding-top: 80px;
}


/* Definindo tamanho da div que irá segurar os slides e os botões para troca de slide */
.slides{
    width: 400%;
    height: 500px;
    display: flex
}

/* Escondendo os inputs até estilização */
.slides input{
    display: none;
}

/* Definindo o tamanho de cada slide (imagem). A troca das imagens foi feita baseando-se no tamanho total da largura do slider. Como existem 4 imagens, cada uma representa 1/4 de 100% */
.slide{
    width: 25%;
    position: relative;
    transition: 1.5s;
}

/* Definindo tamanho de cada imagem */
.slide img{
    width: 100%;
    height: 100%;
}

/* Trocando de imagem */
#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto{
    position: absolute;
    width: 500px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
}

#radio1:checked ~ .navigation-auto .auto-btn2{
    background-color: #FFF;
}

#radio1:checked ~ .navigation-auto .auto-btn3{
    background-color: #FFF;
}

#radio1:checked ~ .navigation-auto .auto-btn4{
    background-color: #FFF;
}


/* Fim Carrossel bloco */

@media (max-width: 400px){
    img.id-img-bg{
        height: 150px;
    }

    div.informativos {
        height: 200px;
    }

    div.info1_style{
        height: 150px;
    }

    img#img_container1{
        margin-right: 20px;
        height: 160px;
    }

    .informativos  #infos_container1{
        margin-right: 2px;
        width: 50%;
        font-size: 10px;
    }

    .informativos .container-info{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: space-between;
        margin-top: -50%;
        width: 100%;
        height: 100px;
    }


}



/* ---------------- Blocos informativos ---------------- */

/* Regra geral para imagens no 
plano de fundo auxiliares */

#id-img-bg{
    width: 100%;
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
}
/* Regra geral para os blocos informativos */

.informativos{
    height: 800px;
    background-color: #fef4ea;
}

/* Regra para a parte da logo */



.base_menu_infos{
    height: 600px;
    background-color: #fce7e2;
}

/* Regra para o rodapé */

.rodape_infos{
    display: flex;
    justify-content: center;
    height: 300px;
    background-color: #f5dad3;
}


/* Estrutura container para os blocos informativos */

.info1_style{
    height: 550px;
    background-color: #fef4ea;
}


.container-info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: space-between;
    margin-top: -30%;
    width: 100%;
    height: 400px;
}

#container_rosa{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


/* imagem alocada a direita da escrita nos containers */

#img_container1{
    border-radius: 22px;
    width: 125%;
    height: 135%;
}

/* imagem alocada a esquerda da escrita nos containers */

#img_container2{
    border-radius: 22px;
    width: 100%;
    height: 130%;
}

/* imagem logo div */

#img_logo{
    width: 20%;
    margin-left: 10%;
    margin-right: 5%;
}

#mini_img_logo{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px;
  text-align: start;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}


/* estrutura para os conteudos escritos nos containers informativos */

/* container 1 estrutura */

#infos_container1{
    margin-right: 205px;
    width: 30%;
    font-size: 23px;
}

/* container 2 estrutura */

#infos_container2{
    margin-right: 3%;
    width: 35%;
    font-size: 23px;
}

/* container com a logo  */

#infos_container_clogo{
    align-content: center;
    width: fit-content;
    font-size: 20px;
    margin-bottom: 10%;
    margin-left: 40px;
}

#infos_rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 10px;
    text-align: start;
    font-size: 15px;
}
/* ---------------- Fim - Blocos informativos ---------------- */





/* ---------------- Botões ---------------- */

/* estrutura botao saiba mais */

.btn-saiba-mais{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    color: #FFF;
    background-color: #57284f;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    transition: 1s;
}

.btn-saiba-mais:hover{
    background-color: #360b2e;
}

/* estrutura botao comprar */

.btn-comprar{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    color: #FFF;
    background-color: #57284f;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    transition: 1s;
}

.btn-comprar{
    background-color: #360b2e;
}