*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}
/* Header elementos */

#header{
    height: 90px;
    max-width: 100%;
    background-color: #fce7e2;
    font-size: 17px;
    font-family: arial;
}

.espaco-elementos-header{
    padding-left: 50px;
    margin-bottom: 20px;
}

#img_icone{
    height: 45px; 
    width: 45px;
    margin-top: 20px;
    margin-left: 300px;
}

/* Carrosel bloco */

.slider{
    margin: 0 auto;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 500px;
    display: flex
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 1.5s;
}

.slide img{
    width: 100%;
    height: 100%;
}

.manual-navigation{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #FFF;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}


.navigation-auto{
    position: absolute;
    width: 500px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
}

#radio1:checked ~ .navigation-auto .auto-btn2{
    background-color: #FFF;
}

#radio1:checked ~ .navigation-auto .auto-btn3{
    background-color: #FFF;
}

#radio1:checked ~ .navigation-auto .auto-btn4{
    background-color: #FFF;
}


/* Fim Carrossel bloco */

/* Blocos informativos */

/* Regra geral para imagens no 
plano de fundo auxiliares */

.classe-img-bg{
    width: 95%;
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
}
/* Regra geral para os blocos informativos */

.informativos{
    height: 800px;
    background-color: #fef4ea;
}

/* Primeira div de bloco informativo  */

#informativo1{
    height: 800px;
    background-color: #fef4ea;
}

.container-info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: space-between;
    margin-top: -30%;
    width: 100%;
    height: 400px;
}

.img_container{
    border-radius: 22px;
    width: 125%;
    height: 130%;
}



.infos_container{
    width: 30%;
}
