*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}
/* Header elementos */

#header{
    height: 90px;
    max-width: 100%;
    background-color: #fce7e2;
    font-size: 17px;
    font-family: arial;
}

.espaco-elementos-header{
    padding-left: 50px;
    margin-bottom: 20px;
}

#img_icone{
    height: 45px; 
    width: 45px;
    margin-top: 20px;
    margin-left: 300px;
}

/* Carrosel bloco */

#carrossel{
    height: 500px;
    background-color: gray;
}

/* Blocos informativos */

/* Regra geral para imagens no 
plano de fundo auxiliares */

.classe-img-bg{
    width: 95%;
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
}
/* Regra geral para os blocos informativos */

.informativos{
    height: 800px;
    background-color: #fef4ea;
}

/* Primeira div de bloco informativo  */

#informativo1{
    height: 800px;
    background-color: #fef4ea;
}

.container-info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: space-;
    margin-top: -20%;
    width: 100%;
    height: 400px;
}

.img_container{
    width: 50%;
    height: 100%;
}

.infos_container{
    width: 50%;
}
