*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Inter, Arial;
}

html, body{
    height: 100%;
}
/* Header elementos */

#header{
    height: 90px;
    max-width: 100%;
    background-color: #fce7e2;
    font-size: 17px;
    font-family: arial;
}

.espaco-elementos-header{
    padding-left: 50px;
    margin-bottom: 20px;
}

#img_icone{
    height: 45px; 
    width: 45px;
    margin-top: 20px;
    margin-left: 300px;
}

/* Carrosel bloco */

/* Definindo tamanho da div do carrossel */
.slider{
    margin: 0 auto;
    width: 100%;
    height: 500px;
    overflow: hidden;
}


/* Definindo tamanho da div que irá segurar os slides e os botões para troca de slide */
.slides{
    width: 400%;
    height: 500px;
    display: flex
}

/* Escondendo os inputs até estilização */
.slides input{
    display: none;
}

/* Definindo o tamanho de cada slide (imagem). A troca das imagens foi feita baseando-se no tamanho total da largura do slider. Como existem 4 imagens, cada uma representa 1/4 de 100% */
.slide{
    width: 25%;
    position: relative;
    transition: 1.5s;
}

/* Definindo tamanho de cada imagem */
.slide img{
    width: 100%;
    height: 100%;
}

/* Radio buttons para troca de imagem manualmente */
.manual-navigation{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

/* Estilizando cada bottão */
.manual-btn{
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

/* Aplicando ada botão MENOS para o último */
.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #FFF;
}

/* Trocando de imagem */
#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto{
    position: absolute;
    width: 500px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
}

#radio1:checked ~ .navigation-auto .auto-btn2{
    background-color: #FFF;
}

#radio1:checked ~ .navigation-auto .auto-btn3{
    background-color: #FFF;
}

#radio1:checked ~ .navigation-auto .auto-btn4{
    background-color: #FFF;
}


/* Fim Carrossel bloco */

/* ---------------- Blocos informativos ---------------- */

/* Regra geral para imagens no 
plano de fundo auxiliares */

.classe-img-bg{
    width: 100%;
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
}
/* Regra geral para os blocos informativos */

.informativos{
    height: 800px;
    background-color: #fef4ea;
}

/* Estrutura container para os blocos informativos */
.container-info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: space-between;
    margin-top: -30%;
    width: 100%;
    height: 400px;
}

/* imagem alocada a direita da escrita nos containers */

#img_container1{
    border-radius: 22px;
    width: 125%;
    height: 135%;
}

/* imagem alocada a esquerda da escrita nos containers */

#img_container2{
    border-radius: 22px;
    width: 100%;
    height: 130%;
}

/* estrutura para os conteudos escritos nos containers informativos */

#infos_container1{
    margin-right: 205px;
    width: 30%;
    font-size: 23px;
}

#infos_container2{
    margin-right: 3%;
    width: 35%;
    font-size: 23px;
}

/* ---------------- Fim - Blocos informativos ---------------- */


/* estrutura botao saiba mais */

.btn-saiba-mais{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    color: #FFF;
    background-color: #57284f;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    transition: 1s;
}

.btn-saiba-mais:hover{
    background-color: #360b2e;
}
